spring:
  datasource:
    hikari:
      maximum-pool-size: 10
    url: jdbc:postgresql://localhost:5432/flyway_database
    password: flyway_database
    username: test_user
  liquibase:
    change-log: "classpath:db/master.xml"
    enabled: false


logging:
  level:
    org.springframework.web: ${LOG_LEVEL:INFO}
    org.apache.ibatis: ${LOG_LEVEL:INFO}
    org.mybatis.spring: ${LOG_LEVEL:INFO}
